// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar {
    box-shadow : 0 2px 4px rgb(0, 0, 0, 0.44);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.lang-buttons {
    display:flex;
    flex-direction: column;
    padding-left: 5px;
}
